.final__hero-section {
  background-image: url('../images/final-background.jpeg');
  position: relative;
  padding: 100px 0 30px;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;

  @media screen and (min-width: 768px) {
    padding: 200px 0 220px;
  }
}

.final__hero-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.final__hero-cta-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // width: 430px;
  width: 100%;
  margin-right: 50px;
}

.final__hero-cta-heading {
  position: relative;
  font-size: 60px;
  font-weight: 100;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.final__hero-button-wrap {
  position: relative;
  height: 90px;
  border-radius: 45px;
  border: 1px solid;
  overflow: hidden;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.35s ease;
    z-index: 1;
  }
  &:hover::after {
    background-image: linear-gradient(90deg, #ceef31, #91ef31);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 30px;
    opacity: 0.9;
    transition: opacity 0.35s ease;
    z-index: 2;
  }
}

.final__hero-button-wrap-male::before {
  background-image: linear-gradient(90deg, #33f5e0, #5172e8);
  opacity: 0.9;
}
.final__hero-button-wrap-female::before {
  background-image: linear-gradient(90deg, #f53373, #bf51e8);
  opacity: 0.9;
}

.final__hero-button {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  border: 1px solid;
  font-size: 33px;
  color: var(--primary-color);
  background: transparent;
}

.final__hero-phone-wrap {
  position: relative;
  width: 430px;
  height: 470px;
  z-index: 0;
}

.final__hero-phone {
  position: absolute;

  @media screen and (max-width: 439px) {
    top: 144px;
    right: 0;
    transform: translateX(40%);
    left: auto;
    height: 400px;
  }
  @media screen and (min-width: 440px) and (max-width: 767px) {
    margin-left: -180px;
    margin-top: 60px;
    height: 500px;
  }

  @media screen and (min-width: 768px) {
    height: 600px;
    top: 0;
    left: 0;
  }
}

.final__hero-parallax {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.final__hero-parallax-image--first {
  position: absolute;
  width: auto;
  left: -40px;
  bottom: auto;

  @media screen and (max-width: 1023px) {
    height: 160px;
    top: 15px;
  }

  @media screen and (min-width: 1024px) {
    bottom: 10%;
    left: -180px;
  }
}

// .final__hero-parallax-image--second {
//   position: absolute;
//   height: 150px;
//   width: auto;
//   left: 40%;
//   right: auto;
//   bottom: -80px;
//   top: auto;
//   display: none;
// }

.final__hero-parallax-image--third {
  position: absolute;
  height: 200px;
  width: auto;
  right: -90px;
  bottom: 0;

  @media screen and (max-width: 1023px) {
    left: auto;
    top: 30px;
  }

  @media screen and (min-width: 1024px) {
    bottom: 20%;
    right: -50px;
    height: 390px;
  }
}

.final__hero-parallax-image--fourth {
  position: absolute;
  width: auto;

  @media screen and (max-width: 1023px) {
    top: auto;
    left: -80px;
    bottom: 0;
    height: 200px;
  }

  @media screen and (min-width: 1024px) {
    top: -10%;
    right: 40%;
  }
}

.final__summary-section {
  padding-top: 40px;
  margin-bottom: 50px;
}

.final__summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final__summary-heading {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}

.final__summary-profile-cards-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profile-card {
  padding: 10px;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 100px;
  width: 100px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.profile-cards__value {
  font-size: 36px;
  font-weight: 700;
}

.profile-cards__value--first {
  color: #44b26b;
}

.profile-cards__value--second {
  color: #b0ed97;
}

.profile-cards__value--third {
  color: #fbc02d;
}

.profile-cards__text {
  font-size: 14px;
  font-weight: 400;
}

.card-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.final__summary-card {
  height: 469px;
  width: 345px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--card-background);
  overflow: hidden;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.final__summary-weight-head {
  margin-bottom: 10px;
}

.final__summary-card-heading {
  font-size: 34px;
  font-weight: 700;
  max-width: 250px;
  margin-bottom: 30px;
}

.final__summary-weight-subtitle {
  font-size: 18px;
  font-weight: 300;
}

.final__summary-weight-subtitle--bold {
  font-weight: 700;
}

.final__summary-weight-kg {
  font-size: 30px;
  color: #b0ed97;
  text-align: left;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.final__summary-weight-kg-icon {
  margin-right: 10px;
  border-radius: 100%;
  background-color: rgba(176, 237, 151, 0.2);
  width: 30px;
  height: 30px;
  padding: 5px;
}

.weight-svg {
  // margin: 0 auto 30px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.final__summary-weight-graph-target-wrap {
  position: relative;
  font-weight: 700;
  font-size: 18px;
}

.final__summary-weight-graph-target-to {
  position: absolute;
  right: 0;
  bottom: -120px;
}

.final__summary-weight-graph-bottom {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.summary-card__body-img-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.summary-card__body-img {
  width: 114px;
  height: 215px;
  margin-right: 30px;
}

.summary-card__body-results-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-card__body-result {
  font-weight: 400;
  font-size: 19px;
}

.summary-card__body-result--color {
  color: #a8e063;
}

.summary-card__body-bottom {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.summary-card__body-bottom--bold {
  font-weight: 700;
}

.final__people-summary-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary-card__people-percent {
  font-size: 54px;
  font-weight: 700;
  color: #fbc02d;
}

.summary-card__people-desc {
  line-height: 20.8px;
  font-size: 17px;
}

.summary-card__people-desc--bold {
  font-weight: 700;
}

.summary-card__people-img {
  width: 130px;
  height: 296px;
}

.final__summary-button-wrap {
  position: relative;
  max-width: 345px;
  width: 100%;
  height: 62px;
  border: none;
  box-shadow: none;
  text-align: center;
  border-radius: 45px;
  margin-bottom: 30px;

  &::before {
    background-image: linear-gradient(90deg, #44b26b, #44b26b);
    border-radius: 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 30px;
    opacity: 1;
    transition: opacity 0.35s ease;
    z-index: 1;
  }
  &:hover::after {
    background-image: linear-gradient(90deg, #ceef31, #91ef31);
    border-radius: 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 30px;
    opacity: 1;
    transition: opacity 0.35s ease;
    z-index: 2;
  }
}

.final__summary-button {
  padding: 0 17px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 17px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  font-size: 19px;
  font-weight: 700;
  color: var(--primary-color);
  z-index: 3;
}

.final__summary-card-heading {
  max-width: 250px;
  margin-bottom: 25px;
  font-size: 34px;
  font-weight: 700;
}

.final__summary-card-heading-bmi--color {
  color: #33c6f5;
}

.final__summary-bmi-subtitle {
  font-size: 18px;
  font-weight: 300;
}

.final__summary-bmi-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // margin-left: -30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  transform: scale(1.3);
}

.final__summary-bmi-bottom {
  text-align: center;
  padding: 0 20px;
}

.final__summary-desc {
  font-size: 18px;
  font-weight: 300;
}

.final__summary-desc--bold {
  font-weight: 700;
}

.final__summary-desc--colored {
  font-weight: 700;
  color: #33c6f5;
}

.final__summary-bmi-bottom-logo {
  width: 168px;
  height: 52px;
  align-self: center;
  margin: 15px auto 0;
}

.final__summary-desc--bmr {
  margin-bottom: 10px;
}

.final__summary-card-water-img-wrap {
  position: relative;
  padding: 30px 0;
  display: flex;
  margin-bottom: 30px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #383546 0, #383546 50%, transparent 0);
    background-size: 22px 1px;
    background-repeat: repeat-x;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #383546 0, #383546 50%, transparent 0);
    background-size: 22px 1px;
    background-repeat: repeat-x;
  }
}

.final__summary-card-water-intake {
  margin-left: 15px;
}

.final__summary-card-heading--water {
  margin: 0;
}

.water-intake-desc {
  font-size: 14px;
  font-weight: 300;
}

.final__summary-water-bottom {
  text-align: center;
}

.final__summary-card-recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.final__summary-card-heading--recipes {
  text-align: center;
  font-size: 38px;
  margin: 0;
}

.final__summary-card-recipes-img {
  width: 190px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}

.final__summary-desc--plan {
  margin-bottom: 30px;
}

.graph-plan__middle {
  width: 265px;
  height: 210px;
  position: relative;
}

.graph-plan__loss {
  position: absolute;
  left: -16%;
  transform: rotate(-90deg);
  top: auto;
  bottom: 40%;
  right: auto;
}

.graph-plan__col-plan {
  top: auto;
  position: absolute;
  bottom: 93%;
  width: 88px;
}

.graph-plan__faster {
  top: auto;
  position: absolute;
  bottom: 93%;
  width: 88px;
  left: 49%;
  text-align: left;
  right: auto;
}

.graph-plan__times {
  position: absolute;
  bottom: 22%;
  width: 50px;
  left: auto;
  right: 2%;
  text-align: center;
}

.graph-plan__times--big {
  font-size: 30px;
  font-weight: 700;
}

.final__summary-social-wrap {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 507px;
  }
}

.final__summary-social-avatar-first {
  position: absolute;
  width: 29px;
  top: 212px;
  left: 12px;
  @media screen and (min-width: 768px) {
    top: 359px;
    left: 20px;
    width: 49px;
  }
}

.final__summary-social-avatar-second {
  position: absolute;
  width: 36px;
  top: 140px;
  left: 20px;
  @media screen and (min-width: 768px) {
    top: 237px;
    left: 34px;
    width: 61px;
  }
}

.final__summary-social-avatar-third {
  position: absolute;
  width: 41px;
  top: 224px;
  right: 5px;
  @media screen and (min-width: 768px) {
    top: 378px;
    right: 7px;
    width: 70px;
  }
}

.final__summary-social-avatar-fourth {
  position: absolute;
  width: 45px;
  top: 115px;
  right: 20px;
  @media screen and (min-width: 768px) {
    top: 194px;
    right: 34px;
    width: 76px;
  }
}

.final__summary-social-center {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  position: absolute;
  top: 128px;
  left: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 298.33px;
    height: 298.33px;
    top: 217px;
    left: 105px;
  }
}

.final__summary-social-center-digits {
  font-size: 50px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 74px;
  }
}

.final__summary-social-digits-instagram {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 79.15px;
  height: 79.15px;
  border-radius: 50%;
  top: 15px;
  left: 82px;
  font-size: 19px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    width: 133.75px;
    height: 133.75px;
    top: 20px;
    left: 140px;
    font-size: 32px;
  }
}

.final__summary-social-digits--facebook {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 79.15px;
  height: 79.15px;
  border-radius: 50%;
  top: 290px;
  left: 26px;
  font-weight: 700;
  font-size: 19px;

  @media screen and (min-width: 768px) {
    top: 490px;
    left: 44px;
    width: 133.75px;
    height: 133.75px;
    font-size: 32px;
  }
}

.final__summary-social-digits--twitter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 79.15px;
  height: 79.15px;
  top: 288px;
  left: 195px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 19px;

  @media screen and (min-width: 768px) {
    top: 485px;
    left: 330px;
    width: 133.75px;
    height: 133.75px;
    font-size: 32px;
  }
}
