.thanks__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thanks__heading {
  margin-bottom: 100px;
}

.thanks__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
