body {
  background-color: #201d34;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.section {
}

.container {
  padding: 0 30px;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
