.footer__section {
  background-color: #f8f4f6;
  padding: 80px 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}

.footer__container {
  display: flex;

  @media screen and (max-width: 440px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.footer__menu-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 440px) {
    text-align: center;
    margin-bottom: 10px;
  }
}

.footer__menu-link {
  color: var(--background-color);
  transition: color 0.35s ease;
  &:hover,
  &:focus {
    color: #f53373;
  }
}

.logo-link--footer {
  padding: 0;
}

.logo--footer {
  color: #34164e;
  opacity: 0.2;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.logo-svg--footer {
  fill: currentColor;
}
.footer__license-wrap {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: flex-end;
  }
}

.footer__license-heading {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--background-color);
}

.footer__license-desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  text-align: right;
  color: var(--background-color);
}

.reset-button {
  margin-top: 20px;
  font-size: 8px;
  background: transparent;
  border: transparent;
}

.cookie__wrap {
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba(51, 51, 51, 0.9);
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1000000;
  font-size: 0.65em;
  font-family: Arial;
  line-height: 15px;
}

.cookie__wrap-desc {
  max-width: 140px;
  margin-right: 10px;
}

.cookie__button {
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
  padding: 7px 15px;
  font-weight: 700;
  background: #555;
  color: #ccc;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.cookie__button--accept {
  background: green;
  color: var(--primary-color);
}
