.hero__section {
  min-height: 350px;
  height: 350px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #201d34;
    z-index: 11t;
  }
}

.hero__container {
  background-size: cover;
  background-image: url(https://storage.1forfit.com/files/dwe5ThXlbTZp9HktZiWDoUzQIe9dMA0ybGMdFAnN.jpeg);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.svg {
  fill: var(--background-color);
  transform: rotateX(180deg) scale(1.5);
  width: 100%;
  position: absolute;
  bottom: -30px;
}

.quiz-container {
  height: 300px;
}
