.quiz__section {
  margin-bottom: 80px;
}

.quiz-container {
  padding-top: 30px;
}

.quiz-container--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.quiz-list__item {
  min-height: 60px;
  width: 100%;
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 36px;
  background-color: hsla(0, 0%, 100%, 0.05);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    height: 70px;
    width: 550px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 36px;
    transition: opacity 0.2s ease-in-out;
    background-image: linear-gradient(90deg, #f53373, #bf51e8);
    pointer-events: none;
  }

  &:hover::after {
    opacity: 1;
    background-image: linear-gradient(90deg, #f53373, #bf51e8);
    box-shadow: 0 20px 30px 0 rgb(76 5 45 / 60%);
  }
}

.quiz-list__link {
  color: var(--primary-color);
  font-weight: 300;
  font-size: 20px;
  z-index: 5;
  background: transparent;
  width: 100%;
  min-height: 100%;
  border: none;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

.quiz__card-wrap {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 480px;
  }
}

.card-wrap__desc {
  width: 100%;
  padding: 10px;
}

.card-wrap__content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  min-height: 320px;
  height: 100%;

  @media screen and (min-width: 768px) {
    height: 450px;
  }
}

.card__button-link {
  height: 70px;
  width: 320px;
  min-width: 160px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(99, 97, 113, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 22px;
  font-weight: 300;
  transition: color 0.35s ease;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  position: relative;

  @media screen and (max-width: 439px) {
    height: 50px;
    width: 140px;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.card__button-icon {
  position: absolute;
  width: 27px;
  height: 27px;
  right: 15px;
  fill: currentColor;

  // @media screen and (max-width: 439px) {
  //   width: 24px;
  //   height: 24px;
  // }
}
